## Author 
KABORE Ybrahim

# Data Science Tools and Ecosystem

**Objectives:**
* Pandas
* Numpy
* scikit
* Python
* R
* Scala

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. pandas
3. Seaborn
4. Scikit

|Data Science Tools|
|--------------------|
|Jupyter Notebook|
|Spyder|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335